<h3>The top 16 bars within 1 mile of you!</h3>
  <div class="section group">
    <% @bars.each do |bar|%>
    <div class="col span_1_of_4">
      <a href="<%=@user.id%>/bar/<%=bar.id%>">
        <div class="bar-pic">
          <img src=<%=bar.image_url%> class="bar-image">
        </div>
        <div class="bar-info">
          <h2><%=bar.name%></h2>
          <img src=<%=bar.rating_img_url_small%> class="stars">
          <p><%=bar.display_phone%></p>
          <p><%=bar.location.address[0]%></p>
        </div>
      </a>
    </div>
    <% end %>
  </div>